.side-by-side .query {
    background-color: white;
    color: black;
}

.side-by-side .query h3 {
    color: black;
}

.side-by-side .query h3 a {
    display: none;
}

.lmql-str {
    color: #7ea464;
}

.lmql-kw {
    color: #a866bd;
}

.side-by-side .query pre {
    font-size: 8pt;
    color: rgb(88, 87, 87);
}

.query anchor {
    border-bottom-color: rgb(62, 57, 57);
}