h1>img {
    width: 30pt;
    height: 30pt;
    margin-right: 5pt;
    position: relative;
    top: 1pt;
}

.link-block a {
    /* border-radius: 16pt !important; */
    padding: 10pt 30pt!important;
}

.link-block.disabled a {
    background-color: rgba(46, 44, 44, 0.601) !important;
}

.link-block.disabled a:hover {
    background-color: rgba(46, 44, 44, 0.601) !important;
    cursor: default;
}

.link-block a {
    height: 3.4em;
    background-color: #24272D;
}

div.secondary {
    display: block;
    opacity: 0.5;
    font-size: 8pt;
}

.side-by-side>div {
    border-radius: 4pt;
    flex: 1;
    padding: 5pt;
    margin-right: 5pt;
    margin-left: 5pt;
    margin-top: 5pt;
}

.side-by-side .output {
    font-weight: 500;
    background-color: rgb(244, 240, 240);
    padding-right: 20pt;
}

.side-by-side .query h3 {
    color: rgb(213, 212, 212);
}

.side-by-side .query h3 a {
    position: absolute;
    top: 8pt;
    font-size: 8pt;
    text-transform: none;
    right: 9pt;

    color: rgb(125, 120, 120);
}

.side-by-side .query h3 a:hover {
    color: rgb(201, 201, 201);
    text-decoration: underline;
}

.side-by-side .query {
    background-color: #24272D;
    border: 0.5pt solid grey;
    position: relative;
    z-index: 8;
    /* very slight box shadow */
    box-shadow: 0pt 0pt 40pt 0pt rgba(0, 0, 0, 0.4);
}

.side-by-side .query pre a {
    color: #7d7a7a;
}

.side-by-side .query pre label a {
    color: #6e5ac7;
}

.side-by-side .query pre a:hover {
    text-decoration: underline;
}

.side-by-side {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 0pt;
}

.side-by-side code, .side-by-side pre {
    background-color: transparent;
    color: #AEB4C0;
    word-break: break-all;
    word-wrap: break-word;
    overflow: visible;
    white-space: pre-wrap;
}

.side-by-side pre {
    margin: 0;
    padding: 0;
    /* scale with text */
    font-size: 8pt;
}

.side-by-side pre anchor label {
    font-size: 10pt;
    height: auto;
}

/* only on mobile */
@media only screen and (max-width: 420pt) {
    .side-by-side .query {
        /* overflow-x: auto; */
        width: 110%;
        margin-left: -5%;
    }

    .side-by-side .output {
        width: 110%;
        margin-left: -5%;
    }

    .side-by-side>div {
        width: 95%;
    }

    .side-by-side  {
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        justify-content: stretch;
    }
}

.container.is-max-desktop {
    width: 100%;
}

.side-by-side h3 {
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin: 3pt;
    margin-left: 0pt;
    color: grey;
    font-size: 10pt;
}

.variable-value span.badge {
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    padding: 2pt;
    font-size: 8pt;
    border-radius: 2pt;
    font-weight: bold;
    pointer-events: none;

    position: relative;
    top: -0.15em;
}

.variable-value {
    border-radius: 2pt;
    border-color: transparent;
}

lmql-var {
    background-color: rgba(0, 0, 0, 0.233);
    color: rgba(254, 251, 251, 0.777) !important;
}

lmql-var:hover, lmql-var.is-hover, lmql-var-hover lmql-var {
    color: rgba(101, 98, 98, 0.777) !important;
}

.lmql-kw {
    font-weight: bold;
    color: #c678dd;
}

.lmql-str {
    color: #a7d884;
}

.lmql-comment {
    color: #5c6370;
}

.side-by-side hr {
    margin: 0;
    padding: 0;
    background-color: grey;
    height: 0.5pt;
    margin-top: 5pt;
}

.select.examples {
    margin-left: 5pt;
}

/* hide all .side-by-side in example-selector except first .side-by-side */
.example-selector .side-by-side:not(.first) {
    display: none;
}

.example-selector label {
    padding: 0;
    height: 10pt;
}

.select-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-bar i {
    margin-left: 10pt;
}

anchor {
    display: inline;
    padding-bottom: 1pt;
    border-bottom: 1.5pt dotted #dfdfdfa2;

    cursor: pointer;
}

anchor:hover {
    border-bottom: 1.5pt dotted #dfdfdf;
}

anchor.hover label, anchor:hover label {
    display: block;
    transition-delay: 500ms;
    transition: opacity 0.25s;
    opacity: 1.0;
    z-index: 2000;
}

anchor .dot {
    display: flex;
    position: absolute;
    left: 0;
    
    transform: translateY(-15.5pt) translateX(-20pt) scale(1.0);
    transform-origin: center;

    width: 20pt;
    /* background-color: #24272D; */
    height: 20pt;
    opacity: 0.3;
    z-index: 10000;

    transition: transform 0.25s, opacity 0.25s;
}

anchor .dot::after {
    border-radius: 50%;
    background-color: rgb(27, 74, 242);
    content: "";
    width: 5pt;
    height: 5pt;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 0.125s;
    transform-origin: center;
}

anchor.hover .dot::after, anchor:hover .dot::after {
    transform: translate(-50%, -50%) scale(1.0);
}

anchor.hover .dot, anchor:hover .dot {
    opacity: 1.0;
}

anchor label {
    display: none;
    font-family: "Google Sans", sans-serif;
    
    transition-delay: 500ms;
    transition: opacity 0.25s;
    opacity: 0.2;
    
    z-index: 10;

    position: absolute;
    
    left: 0;
    transform: translateY(-14pt) translateX(-110%);

    padding: 4pt;
    border-radius: 2pt;
    color: grey;
    font-weight: normal;
    background-color: transparent;

    /* border: 0.5pt solid grey; */
}

/* popup labels on smaller screens */
@media only screen and (max-width: 1000pt) {
    anchor {
        position: relative;
    }

    anchor .dot {
        display: none;
    }
    
    anchor label {
        border: 0.5pt solid grey;
        top: 100%;
        left: 0;
        transform: none !important;
        background-color: white;
    }

    anchor label .multiline {
        max-width: 280pt;
        min-width: 220pt;
        border-right: none;
        height: auto;
    }

    anchor label .bridge {
        display: none;
    }
}

anchor label .bridge {
    display: block;
    background-color: transparent;
    width: 70pt;
    height: 60pt;
    position: absolute;
    right: -50pt;
    top: 0pt;
}

div.multiline {
    display: block;
    max-width: 180pt;
    font-weight: normal;
    color: grey;
    
    position: relative;
    left: 0pt;
    top: 0;
    padding: 2pt;

    border-right: 0.5pt solid grey;

    word-break: normal;

    /* disable pre wrapping */
    white-space: pre-line;
}


.prompt {
    background-color: transparent;
}

.prompt:hover, .prompt.is_hover {
    border-width: 0;
}

tt {
    font-weight: bold;
}

figure {
    margin-top: 25pt;
}

figure img {
    margin-bottom: 10pt;
}

span.footnote {
    display: block;
    margin-top: 20pt;
    font-size: 8pt;
}

.column .content p {
    text-align: justify;
}

.side-by-side .output {
    position: relative;
    background-color: rgb(248, 248, 248);
    border: 0.5pt solid rgba(0, 0, 0, 0.199);
    z-index: 9;
}

.prompt.legend {
    position: absolute;
    top: 8pt;
    right: 8pt;
    font-size: 8pt;
    opacity: 0.7;
}

.learn-more anchor {
    border-color: grey;
    cursor: default;
}

.learn-more {
    display: block;
    font-size: 11pt;
    text-align: center;
    margin-top: 10pt;
}

.lmql-truncated {
    color: grey;
    margin-right: 5pt;
    margin-left: 5pt;
}

span.option {
    background-color: rgb(232, 232, 232);
    padding: 4pt;
    font-size: 10pt;
    display: inline-block;
    margin: 2pt;
    margin-top: 4pt;
    border-radius: 5pt;
    border: 1pt solid rgba(0, 0, 0, 0.199);
}

.example-badges {
    margin-bottom: 10pt;
}

span.option:hover {
    border: 1pt solid rgb(143, 143, 143);
    background-color: rgb(212, 206, 206);
    border-radius: 5pt;
    cursor: pointer;
}

span.option.active {
    border: 1pt solid rgb(35, 35, 138);
    background-color: rgb(209, 204, 232);
    border-radius: 5pt;
}

.custom-footer {
    text-align: center;
    font-size: 8pt;
    color: grey;
    max-width: 200pt;
    margin: auto;
}

.distribution {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 8pt;
    margin: 15pt;
    margin-left: 2pt;
}

.distribution i {
    margin-right: 5pt;
    padding-right: 5pt;
    border-right: 0.5pt solid grey;
    /* center text vertically */
    display: flex;
    align-items: center;
}

h1 {
    font-family: monospace;
}