
.val1 {
    background-color: rgba(255, 166, 0, 0.5);
    cursor: default;
}

.val1:hover, .val1.hover, .val1-hover .val1 {
    background-color: rgba(255, 166, 0, 1.0);
}
.val2 {
    background-color: rgba(206, 128, 184, 0.5);
    cursor: default;
}

.val2:hover, .val2.hover, .val2-hover .val2 {
    background-color: rgba(206, 128, 184, 1.0);
}
.val3 {
    background-color: rgba(107, 119, 255, 0.5);
    cursor: default;
}

.val3:hover, .val3.hover, .val3-hover .val3 {
    background-color: rgba(107, 119, 255, 1.0);
}