body {
    overflow-x: hidden;
}

.title.is-1 {
    font-size: 48pt;
}
/* 
@media only screen and (max-width: 420pt) {
    .title.is-1 {
        font-size: 20pt;
    }

    .title.is-1>img {
        height: 18pt !important;
    }
} */

.title.is-1>img {
    /* width: 30pt; */
    width: auto;
    height: 65pt;
    margin-right: 5pt;
    position: relative;
    top: 1pt;
}

.column-big {
    position: relative;
    left: 22pt;
}

.hero-big {
    margin-bottom: -30pt;
}

span.block {
    display: inline-block;
    /* no word break */
    white-space: nowrap;
}

.big {
    font-size: 38pt;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #39414d;
    line-height: 1.2;
    text-align: left;
    padding: none;
    display: inline;
    margin-bottom: 5pt;
    margin-top: 0pt;
    max-width: 70vw;
}

.big-sub {
    margin-top: 10pt;
    font-size: 14pt;
    max-width: 35em;
    display: block;
    font-weight: normal;
}

.big-sub img {
    position: relative;
    top: 2pt;
}


.big ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: visible;
    text-align: left;
}

.big ul span.placeholder {
    opacity: 0;
    visibility: hidden;
    user-select: none;
}


:root {
    --slide-duration: 20s;
}

.big ul li {
    margin: 0;
    display: inline;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 320pt;

    animation: fade var(--slide-duration) infinite;
    opacity: 0;
    color: #3273dc;
}

.big ul li:nth-child(1) {
    animation-delay: calc(var(--slide-duration) * 0);
}
.big ul li:nth-child(2) {
    animation-delay: calc(var(--slide-duration) * 0.1);
}
.big ul li:nth-child(3) {
    animation-delay: calc(var(--slide-duration) * 0.2);
}
.big ul li:nth-child(4) {
    animation-delay: calc(var(--slide-duration) * 0.3);
}
.big ul li:nth-child(5) {
    animation-delay: calc(var(--slide-duration) * 0.4);
}
.big ul li:nth-child(6) {
    animation-delay: calc(var(--slide-duration) * 0.5);
}
.big ul li:nth-child(7) {
    animation-delay: calc(var(--slide-duration) * 0.6);
}
.big ul li:nth-child(8) {
    animation-delay: calc(var(--slide-duration) * 0.7);
}
.big ul li:nth-child(9) {
    animation-delay: calc(var(--slide-duration) * 0.8);
}
.big ul li:nth-child(10) {
    animation-delay: calc(var(--slide-duration) * 0.9);
}



@keyframes fade {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    8% {
        opacity: 1;
    }
    12% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.link-block a {
    /* border-radius: 16pt !important; */
    padding: 10pt 30pt!important;
}

.link-block.disabled a {
    background-color: rgba(46, 44, 44, 0.601) !important;
}

.link-block.disabled a:hover {
    background-color: rgba(46, 44, 44, 0.601) !important;
    cursor: default;
}

.link-block a {
    height: 3.4em;
    background-color: #24272D;
}

div.secondary {
    display: block;
    opacity: 0.5;
    font-size: 8pt;
}

.side-by-side>div {
    border-radius: 4pt;
    flex: 1;
    padding: 5pt;
    margin-right: 5pt;
    margin-left: 5pt;
    margin-top: 5pt;
}

.side-by-side .output {
    font-weight: 500;
    background-color: rgb(244, 240, 240);
    padding-right: 20pt;
    padding-bottom: 20pt;
}

.side-by-side .query h3 {
    color: rgb(213, 212, 212);
}

.side-by-side .query h3 a {
    position: absolute;
    top: 8pt;
    font-size: 8pt;
    text-transform: none;
    right: 9pt;

    color: rgb(125, 120, 120);
}

.side-by-side .query h3 a:hover {
    color: rgb(201, 201, 201);
    text-decoration: underline;
}

.side-by-side .query {
    background-color: #24272D;
    border: 0.5pt solid grey;
    position: relative;
    /* very slight box shadow */
}

.side-by-side .query:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4pt;
    box-shadow: 0pt 0pt 40pt 0pt rgba(0, 0, 0, 0.4);
}

.side-by-side .query pre a {
    color: #7d7a7a;
}

.side-by-side .query pre label a {
    color: #6e5ac7;
}

.side-by-side .query pre a:hover {
    text-decoration: underline;
}

.side-by-side {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 0pt;
}

.side-by-side.compact {
    align-items: flex-start;
}

.side-by-side code, .side-by-side pre {
    background-color: transparent;
    color: #AEB4C0;
    word-break: break-all;
    word-wrap: break-word;
    overflow: visible;
    white-space: pre-wrap;
}

.side-by-side pre {
    margin: 0;
    padding: 0;
    /* scale with text */
    font-size: 8pt;
}

.side-by-side pre anchor label {
    font-size: 10pt;
    height: auto;
}

/* only on mobile */
@media only screen and (max-width: 420pt) {
    .side-by-side .query {
        /* overflow-x: auto; */
        width: 110%;
        margin-left: -5%;
    }

    .side-by-side .output {
        width: 110%;
        margin-left: -5%;
    }

    .side-by-side>div {
        width: 95%;
    }

    .side-by-side  {
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        justify-content: stretch;
    }
}

.container.is-max-desktop {
    width: 100%;
}

.side-by-side h3 {
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin: 3pt;
    margin-left: 0pt;
    color: grey;
    font-size: 10pt;
}

.badge, .variable-value span.badge {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.397);
    margin-left: 1pt;
    color: white;
    border-radius: 2pt;
    font-weight: bold;
    border: none;
    pointer-events: none;
    padding-left: 2pt;
    padding-right: 2pt;
    font-size: 8pt;
    line-height: 16px;
    position: relative;
    top: -1.5pt;
    font-family: monospace;
}

.variable-value {
    padding: 1pt;
    border-radius: 2pt;
    border-color: transparent;
    position: relative;
}

lmql-var {
    background-color: rgba(0, 0, 0, 0.233);
    color: rgba(254, 251, 251, 0.777) !important;
}

lmql-var:hover, lmql-var.is-hover, lmql-var-hover lmql-var {
    color: rgba(101, 98, 98, 0.777) !important;
}

.lmql-fct, .highlight.lmql .n {
    color: #E5C07B;
}

.lmql-kw, .highlight.lmql .kn, .highlight.lmql .kp, .highlight.lmql .ow, .highlight.lmql .nb {
    font-weight: bold;
    color: #c678dd;
}

.lmql-str, .highlight.lmql .sd, .highlight.lmql .s2, .highlight.lmql .s1 {
    color: #a7d884;
}

.lmql-comment, .highlight.lmql .c1 {
    color: #5c6370;
}

.side-by-side hr {
    margin: 0;
    padding: 0;
    background-color: grey;
    height: 0.5pt;
    margin-top: 5pt;
}

.select.examples {
    margin-left: 5pt;
}

/* hide all .side-by-side in example-selector except first .side-by-side */
.example-selector .side-by-side:not(.first) {
    display: none;
}

.example-selector label {
    padding: 0;
    height: 10pt;
}

.select-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-bar i {
    margin-left: 10pt;
}

anchor {
    display: inline;
    padding-bottom: 1pt;
    border-bottom: 1.5pt dotted #dfdfdfa2;

    cursor: pointer;
}

anchor:hover {
    border-bottom: 1.5pt dotted #dfdfdf;
}

anchor.hover label, anchor:hover label {
    visibility: visible;
    pointer-events: auto;
    opacity: 1.0;
    z-index: 2000;
}

anchor .dot {
    display: flex;
    position: absolute;
    left: 0;
    
    transform: translateY(-15.5pt) translateX(-20pt) scale(1.0);
    transform-origin: center;

    width: 20pt;
    /* background-color: #24272D; */
    height: 20pt;
    opacity: 0.3;
    z-index: 10000;

    transition: transform 0.25s, opacity 0.25s;
}

.selected .dot {
    opacity: 0.0;
    animation: fadeIn 0.25s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.selected anchor.anchor-0 .dot { animation-delay: 0.0s; }
.selected anchor.anchor-1 .dot { animation-delay: 0.0s; }
.selected anchor.anchor-2 .dot { animation-delay: 0.3s; }
.selected anchor.anchor-3 .dot { animation-delay: 0.4s; }
.selected anchor.anchor-4 .dot { animation-delay: 0.5s; }
.selected anchor.anchor-5 .dot { animation-delay: 0.6s; }
.selected anchor.anchor-6 .dot { animation-delay: 0.7s; }
.selected anchor.anchor-7 .dot { animation-delay: 0.8s; }
.selected anchor.anchor-8 .dot { animation-delay: 0.9s; }
.selected anchor.anchor-9 .dot { animation-delay: 1.0s; }
.selected anchor.anchor-10 .dot { animation-delay: 1.1s; }

anchor .dot::after {
    border-radius: 50%;
    background-color: rgb(27, 74, 242);
    content: "";
    width: 5pt;
    height: 5pt;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 0.125s;
    transform-origin: center;
}

anchor.hover .dot::after, anchor:hover .dot::after {
    animation-delay: 0.0s !important;
    transform: translate(-50%, -50%) scale(1.0);
}

anchor.hover .dot, anchor:hover .dot {
    opacity: 1.0;
}

anchor label {
    visibility: hidden;
    pointer-events:none;
    font-family: "Google Sans", sans-serif;
    
    transition-delay: 500ms;
    transition: opacity 0.25s;
    opacity: 0.0;
    
    z-index: 10;

    position: absolute;
    
    left: 0;
    transform: translateY(-14pt) translateX(-110%);

    padding: 4pt;
    border-radius: 2pt;
    color: grey;
    font-weight: normal;
    background-color: transparent;
    transition: opacity 0.25s;

    /* border: 0.5pt solid grey; */
}

/* popup labels on smaller screens */
@media only screen and (max-width: 1070pt) {
    anchor {
        position: relative;
    }

    anchor .dot {
        display: none;
    }
    
    anchor label {
        border: 0.5pt solid grey;
        top: 100%;
        left: 0;
        transform: none !important;
        background-color: white;
    }

    anchor label .multiline {
        max-width: 280pt;
        min-width: 220pt;
        border-right: none;
        height: auto;
        display: inline-block;
    }

    anchor label .bridge {
        display: none;
    }
}

anchor label .bridge {
    display: block;
    background-color: transparent;
    width: 70pt;
    height: 60pt;
    position: absolute;
    right: -50pt;
    top: 0pt;
}

div.multiline {
    display: block;
    max-width: 180pt;
    font-weight: normal;
    color: grey;
    
    position: relative;
    left: 0pt;
    top: 0;
    padding: 2pt;

    border-right: 0.5pt solid grey;

    word-break: normal;

    /* disable pre wrapping */
    white-space: pre-line;
}


.prompt {
    background-color: transparent;
}

.prompt:hover, .prompt.is_hover {
    border-width: 0;
}

tt {
    font-weight: bold;
}

figure {
    margin-top: 25pt;
}

figure img {
    margin-bottom: 10pt;
}

span.footnote {
    display: block;
    margin-top: 20pt;
    font-size: 8pt;
}

.column .content p {
    text-align: justify;
}

.side-by-side .output {
    position: relative;
    background-color: rgb(248, 248, 248);
    border: 0.5pt solid rgba(0, 0, 0, 0.199);
    z-index: 9;
}

.prompt.legend {
    position: absolute;
    top: 8pt;
    right: 8pt;
    font-size: 8pt;
    opacity: 0.7;
}

.learn-more anchor {
    border-color: grey;
    cursor: default;
}

.learn-more {
    display: block;
    font-size: 11pt;
    text-align: center;
    margin-top: 10pt;
}

.lmql-truncated {
    color: grey;
    margin-right: 5pt;
    margin-left: 5pt;
}

span.option {
    background-color: rgb(232, 232, 232);
    padding: 4pt;
    font-size: 10pt;
    display: inline-block;
    margin: 2pt;
    margin-top: 4pt;
    border-radius: 2pt;
    border: 1pt solid rgba(0, 0, 0, 0.199);
}

.example-badges {
    margin-bottom: 10pt;
}

span.option:hover {
    border: 1pt solid rgb(143, 143, 143);
    background-color: rgb(212, 206, 206);
    cursor: pointer;
}

span.option.active {
    border: 1pt solid rgb(35, 35, 138);
    background-color: rgb(209, 204, 232);
}

.custom-footer {
    text-align: center;
    font-size: 8pt;
    color: grey;
    margin-bottom: 5pt;
    padding-top: 40pt;
}

.custom-footer img {
    margin: 10pt;
    margin-left: 0;
    height: 10pt;
    opacity: 0.5;
}

.distribution {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 8pt;
    margin: 15pt;
    margin-left: 2pt;
}

.distribution i {
    margin-right: 5pt;
    padding-right: 5pt;
    border-right: 0.5pt solid grey;
    /* center text vertically */
    display: flex;
    align-items: center;
}

.output .legend {
    display: block;
    color: grey;
    font-size: 7pt;
    /* position: absolute;
    bottom: 4pt;
    left: 2pt;
    right: 2pt; */
    margin-top: 20pt;
    text-align: center;
}

h1 {
    font-family: monospace;
}

figure img {
    border-radius: 4pt;
}

.screenshot-mode .side-by-side {
    margin-top: 100pt;
    margin-bottom: 100pt;
}

.screenshot-mode .learn-more {
    display: none;
}

.screenshot-mode anchor {
    border-bottom: 0pt dotted #dfdfdfa2;
}

.screenshot-mode anchor .dot {
    display: none;
}

.screenshot-mode anchor.hover .dot {
    display: flex;
}

.screenshot-mode .side-by-side h3>a {
    display: none;
}

.query-container {
    padding: 40pt;
}

.chat .tag {
    display: none;
}

.chat .tag-user {
    position: relative;
    margin-left: 10%;
}

.prompt.tag-system {
    width: 90%;
    display: block;
    text-align: center;
    font-size: 10pt;
    color: grey;
    border: none;
    margin: auto;
}

.chat .prompt, .chat .variable {
    padding: 4pt;
    border-radius: 4pt;
}

.chat .prompt.tag-user {
    display: block;
    margin-top: 4pt;
    border: 1pt solid grey;
    width: 90%;
    background-color: rgb(227, 227, 227);
}

.chat .variable {
    margin-top: 4pt;
    display: block;
    border: 1pt solid grey;
    width: 90%;
    padding: 4pt;
    background-color: rgba(107, 119, 255, 1.0);
    color: white;
}

button.next {
    border: none;
    background: transparent;
    display: inline-block;
    margin: 0;
    text-align: left;
    margin-left: -5pt;
    margin-top: 2pt;
    color: hsl(204, 86%, 53%);
    
    display: none;
}

button.next:hover {
    text-decoration: underline;
    cursor: pointer;
}

button.next:after {
    /* use unicode double angled */
    content: "\00BB";
    font-size: 10pt;
    margin-left: 2pt;
}

.topnav {
    text-align: right;
    display: block;
}

.topnav a {
    margin: 15pt 10pt;
    font-size: 10pt;
    font-weight: bold;
    display: inline-block;
}

.topnav img {
    position: absolute;
    top: 18pt;
    left: 20pt;
    height: 16pt;
}

.topnav .icon {
    display: none;
}


@media (max-width: 420pt) {
    .column-big {
        position: relative;
        left: 0pt;
    }

    .hero-big {
        margin-bottom: -20pt;
    }

    .big {
        font-size: 20pt !important;
        margin-top: 5pt !important;
    }
}

section.is-dark {
    background-color: rgb(233, 230, 230);
}

.hero.teaser {
    margin-bottom: 20pt;
}

.getting-started:hover {
    border: 0.5pt solid rgb(143, 143, 143);
}

.getting-started {
    width: 220pt;
    max-width: calc(100% - 20pt);
    font-size: 0.85em;
    border: 0.5 pt solid grey;
    padding: 5pt;
    margin: 20pt 5pt;
    border: 0.5pt solid rgb(193, 190, 190);
    
    border-radius: 2pt;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    box-shadow: 0pt 0pt 10pt 0pt rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 769px), print {
    .getting-started {
        margin-left: auto;
        margin-right: auto;
    }
}

.getting-started h2 {
    margin: 5pt 0pt;
}

.getting-started>a {
    display: block;
    padding: 8pt;
    border-radius: 4pt;
    background-color: rgb(255, 255, 255);
    margin: 2pt 2pt;
    border: 1pt solid rgb(223, 218, 218);
    font-size: 10pt;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    color:rgba(0, 0, 0, 0.957)
}

.getting-started>a:hover {
    background-color: rgb(233, 228, 228);
}


.getting-started .cmd {
    padding: 5pt;
    margin: 5pt;
    border-radius: 4pt;
    background-color: #dcdcdc;
    color: rgb(35, 35, 35);
    font-family: monospace;
    font-weight: bold;

    /* on double click select all */
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    cursor: pointer;
}

.getting-started>span>a {
    display: inline;
}

.getting-started>a.primary {
    background-color: rgb(107, 119, 255);
    color: white;
}

.getting-started>a.primary:hover {
    background-color: rgb(122, 132, 245);
    color: white;
}

.columns.is-getting-started {
    margin-top: 5pt;    
}

.authors .author-block {
    font-size: 12pt !important;
    text-align: center !important;
}

.authors {
    margin-bottom: 10pt;
    text-align: left;
}

.code b {
    font-weight: 1000;
}

.code::before {
    content: "LMQL";
    position: absolute;
    top: 2pt;
    left: 0pt;
    right: 0pt;
    text-align: center;
    font-family: "Google Sans", sans-serif;
    font-size: 8pt;
}

.code {
    position: relative;
    border: 2pt solid rgb(67, 66, 66);
    /* background-color: rgb(255, 255, 255); */
    background-color: #24272D;
    color: white;
    box-shadow: 0pt 0pt 40pt 0pt rgba(0, 0, 0, 0.2);
    border-radius: 4pt;
    padding: 20pt;
    padding-left: 10pt;
    color: #d6d6d6;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    white-space: pre-wrap;
    font-size: 10pt;
    margin: auto;
}

.content.is-vertically-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.is-experimental-results a {
    display: inline !important;
}

.is-experimental-results {
    margin-top: 20pt;
}

.column.is-experimental-results {
    font-size: 10pt !important;
    /* vertically center */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content.decoding a {
    font-size: 10pt;
    display: block;
    text-align: center;
}

.content.decoding object {
    display: block;
    margin-bottom: 8pt;
    width: 100%;
    transform: scale(0.8);
    transform-origin: center center;
    margin-left: auto;
    margin-right: auto;
}

.content.decoding {
    margin-top: 50pt;
    text-align: left;
}

h2.is-3 {
    font-size: 15pt !important;
}

p.is-left-aligned {
    display: block;
    font-size: 12pt;
    text-align: justify !important;
}

p.uni-branding {
    font-size: 10pt;
    margin-top: 30pt;
    display: block;
    text-align: center;
    opacity: 0.6;
}

.uni-branding img {
    display: block;
    margin: auto;
    height: 10pt;
    margin-top: 10pt;
    opacity: 0.6;
}

section.blog {
    font-size: 12pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    position: relative;
}

section.blog.startpage {
    margin-bottom: 0pt;
}

/* hr after */
section.blog.startpage .container::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 40pt;
    height: 0.5pt;
    background-color: rgb(229, 229, 229);
}

section.blog p {
    text-align: left !important;
}

section.blog .date {
    position: absolute;
    top: 20pt;
    right: 10pt;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12pt !important;
}

section.blog h5.is-2 {
    max-width: calc(100% - 120pt);
}

@media screen and (max-width: 500pt) {
    section.blog .date {
        top: -10pt;
    }

    section.blog h5.is-2 {
        max-width: 100%;
        width: 100%;
    }
}

section.blog h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

section.blog span.author-block {
    font-size: 14pt !important;
}

a.anchor {
    color: rgb(36, 36, 36);
}

a.blog.see-all {
    display: block;
    text-align: center;
    margin-bottom: 20pt;
}

section.blog li {
    margin-bottom: 16pt;
}

img.inline-logo {
    height: 0.8em;
    position: relative;
    top: 0.02em;
    margin-right: 5pt;
}

section.blog pre {
    background-color: black;
    color: white;
    font-size: 10pt;
    border-radius: 4pt;
    background-color: #24272D;

    box-shadow: 0pt 20pt 40pt 0pt rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.highlight.lmql {
    position: relative;
    overflow: visible;
}

.highlight.lmql>button {
    position: absolute;
    top: 5pt;
    right: 5pt;

    border: none;
    color: white;
    background: transparent;
}

.highlight.lmql>button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.headerlink {
    /* display: none; */
    margin-left: 5pt;
}

.highlight-model-output::before {
    content: "Model Output";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 4pt;
    font-size: 9pt;
    text-transform: uppercase;
    left: 0pt;
    z-index: 2;
    width: 100%;
    text-align: center;
    color: grey;
}

.highlight-model-output {
    position: relative;
    top: -5pt;
    z-index: -1;
    font-size: 0.9em;
    font-family: monospace;
}

html[data-theme="dark"] .highlight-model-output::before {
    color: rgb(143, 143, 143);
}

html[data-theme="dark"] .highlight-model-output {
    background: transparent;
}

.highlight-model-output .highlight, html[data-theme="dark"] .highlight-model-output .highlight {
    display: block;
    white-space: break-spaces !important;
}


.highlight-model-output .highlight {
    background-color: #f7f6f6 !important;
    position: relative;
    /* top: -12pt; */
    border: none;
    white-space: break-spaces !important;
    padding: 10pt;
    padding-top: 20pt;
    border-radius: 4pt;
}

html[data-theme="dark"] .highlight-model-output .highlight {
    background-color: rgb(30, 30, 30) !important;
    border-color: rgb(68, 68, 68) !important;
}

.variable {
    display: inline; 
    padding: 0.5pt;
    border-radius: 2pt;
}

.variable .variable-name {
    font-weight: 700;
    color: #333;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.2em;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.9);
    display: inline;
    margin: 0;
    margin-right: 0.0em;
    margin-left: 0;
    font-size: 0.7em;
    padding: 0.12em;
    position: relative;
    top: -0.15em;
    left: 0.1em;

    transform-origin: 0 50%;
    overflow: hidden;
}

.variable .variable-name.visible {
    opacity: 1.0;
}

.val1 {
    background-color: rgba(255, 166, 0, 0.5) !important;
    cursor: default;
}

.val1:hover, .val1.hover, .val1-hover .val1 {
    background-color: rgba(255, 166, 0, 1.0) !important;
}
.val2 {
    background-color: rgba(206, 128, 184, 1.0) !important;
    cursor: default;
}

.val2:hover, .val2.hover, .val2-hover .val2 {
    background-color: rgba(206, 128, 184, 1.0) !important;
}
.val3 {
    background-color: rgb(130, 140, 249) !important;
    cursor: default;
}

.val3:hover, .val3.hover, .val3-hover .val3 {
    background-color: rgba(107, 119, 255, 1.0) !important;
}

section.blog h2, section.blog h3 {
    margin-top: 20pt;
}

@media screen and (max-width: 270pt) {
    .hide-on-small {
        display: none !important;
        background-color: green;
    }
}