body {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    margin: 0;
}

#app {
    height: 100vh;
    display: flex;
}

.graph {
    flex: 1;
    height: 100vh;
    max-width: 80vw;
}

.inspector {
    font-family: monospace;
    font-size: 12pt;
    width: 420pt;
    height: 100vh;
    border-right: 1pt solid rgb(177, 177, 177);
    background-color: rgb(231, 231, 231);
    padding: 10pt;
    margin: 0pt;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.inspector pre {
    border-radius: 3pt;
    background-color: rgb(128, 128, 128);
}

.inspector label {
    color: grey;
    display: block;
}

.node-data {
    border-left: 10pt solid transparent;
    padding-left: 5pt;
    margin-top: 10pt;
    border-bottom: 1pt solid rgb(177, 177, 177);
    padding-top: 5pt;
    padding-left: 5pt;
}

.node-data.child {
    border-bottom: none;
}

.node-data .score {
    top: 2pt;
    right: 2pt;
}

.inspector .value {
    margin-top: 5pt;
    line-height: 1.5;
}

.inspector .value code {
    display: inline-block;
    background-color: rgb(220, 220, 220);
    border-radius: 3pt;
    padding: 5pt;
    margin-top: 4pt;
}

.child-data-header {
    margin-bottom: 5pt;
    padding: 5pt;
    border-radius: 3pt;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.child-data-header:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

ul.graph-toolbar {
    position: absolute;
    top: 5pt;
    right: 5pt;
    background-color: white;
    border-radius: 3pt;
    border: 1pt solid rgb(177, 177, 177);
    padding: 0;
    list-style: none;
    margin: 0;
}

ul.graph-toolbar button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    padding: 10pt;
    font-size: 12pt;
    cursor: pointer;
}

ul.graph-toolbar button:hover {
    background-color: rgb(226, 225, 225);
}

.colors {
    color: hsl(218, 100%, 50%);
    color: hsl(30, 100%, 50%);
    color: hsl(120, 55%, 58%);
    color: hsl(0, 70%, 57%);
    color: hsl(270, 100%, 50%);
    color: hsl(30, 100%, 50%);
    color: hsl(330, 100%, 50%);
    color: hsl(0, 0%, 50%);
    color: hsl(70, 100%, 50%);
    color: hsl(190, 100%, 50%);
}

.full-json {
    overflow: auto;
    margin-top: 10pt;
}